.typography {
	color: #676767;
	width: 374px;
	height: 49px;
	font-size: 15px;
	font-weight: 400;
	margin-top: 70px;
}

.reload {
	margin-top: 30px;
	width: 150px;
	height: 40px;
	border: none;
	background-color: #5fb6e7;
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.reload span {
	color: #fff;
	font-weight: 700;
	font-size: 15px;
}

.reloadIco {
	height: 70%;
}
